* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2B1B81;
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: white;
}

.site-header {
    background-color: #2B1B81;
    padding: 59px 0;
}

.container {
    width: 90%;
    max-width: 1022px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align: center;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
}

.main-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.main-nav li {
    margin-left: 40px;
}

.main-nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    transition: opacity 0.3s ease;
    opacity: 1.0;
}

.main-nav ul li:first-child a {
    opacity: 0.3;
}

.main-nav a:hover {
    opacity: 1.0;
}

.cta-button {
    background-color: #E93A7D;
    color: #FFFFFF;
    opacity: 1.0;
    padding: 10px 24px;
    border-radius: 100px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.cta-button:hover {
    background-color: #d63370;
    opacity: 1.0;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');

.main-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 471px;
  color: #FFFFFF;
  font-family: 'DM Sans', sans-serif;
}

.main-content h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
  margin: 0;
}

.main-content p {
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  margin: 0;
}

.btn-learn-more {
  background-color: #E93A7D;
  color: #FFFFFF;
  text-decoration: none;
  width: 173.18px;
  height: 50.3px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

@media (max-width: 768px) {
  .main-content {
    width: 90%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .main-content h1 {
    font-size: 44px;
    line-height: 54px;
  }

  .main-content p {
    font-size: 18px;
  }
}